@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #972026;
  --color-secondary: #EA1E23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Text colors */
.text-primary {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.text-secondary {
  color: var(--color-secondary);
}

/* Background colors */
.bg-primary {
  background-color: var(--color-primary);
  transition: background-color 0.3s ease;
}

.bg-secondary {
  background-color: var(--color-secondary);
  transition: background-color 0.3s ease;
}

/* Hover effects */
.text-primary:hover,
.text-hover:hover {
  color: var(--color-secondary);
}

.bg-primary:hover,
.bg-hover:hover,
.hover\:bg-secondary:hover {
  background-color: var(--color-secondary);
}
/* Border colors */
.border-secondary {
  border-color: var(--color-secondary);
  transition: border-color 0.3s ease;
}